<div class="game-display" style=" height: 100vh; margin: 20px;">
    <h1 style="font-size: 26px; padding-top: 20px; padding-left: 10px;"><img style ="margin-right: 10px;" src="/img/trophy.png" width="23px;">Completed:</h1>
    <div class="search-display" style=" height: 100vh;">
      {{#each usersGames as |game|}}
      <div class="card" style="width: 12rem; height: 30%; margin: 10px; background-color: #0A161D; text-align: center !important; border-radius: 15px; padding: 10px;">
              <a href="/library/details/{{game.id}}">
                <img src="{{game.gameArtwork}}" width="100%;" style="border-radius: 10px;"></img>
              <p class="card-text" style="padding-top: 10px; font-size: 1em;">
                  {{ game.gameName }}
              </p>
            </a>
          </div>
      {{/each}}
    </div>
  </div>
</div>
