<body class="text-center">
<div id="signout-main" style="margin: 0 auto;">
      <h1>There are no games to display.
        <br> Search for a game to get started!</h1>
       <img src="/img/controller.png" alt="controller" width="75%" style="padding-top: 20px;">
  </div>
</div>
