<!-- <body class="text-center" style="margin: 0 auto;"> -->
  <div class="game-display" style=" height: 100vh; margin: 20px;">
    <h1 style="font-size: 26px; padding-top: 20px; padding-left: 10px;">Search Results:</h1>
    <div class="search-display">
      {{#each games as |game|}}
      <div class="card" style="width: 12rem; height: 29%; margin: 10px; background-color: #0A161D; text-align: center !important; border-radius: 15px; padding: 20px;">
              <a href="/games/{{game.id}}">
                <img src="{{game.background_image}}" width="100%;" height="100px" style="border-radius: 15px;"></img>
              <p class="card-text" style="padding-top: 10px; font-size: .9em;">
                  {{ game.name }}
              </p>
            </a>
          </div>
      {{/each}}
    </div>
  </div>
</div>
