<head>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
</head>
<div>
  <h1> This is the game details page </h1>
    {{ game.name }}
    {{game.description}}
</div>
