<body class="text-center" style="margin: 0 auto;">
  <div class="search-display" style=" height: 100vh; margin: 20px;">
    {{#each games as |game|}}
    <div class="card" style="width: 15rem; margin: 10px; background-color: #0A161D; text-align: center !important; border-radius: 15px; padding: 20px;">
            <a href="games/{{game.id}}">
              <img src="{{game.background_image}}" width="100%;" style="border-radius: 15px;"></img>
            <p class="card-text" style="padding-top: 10px; font-size: 1em;">
                {{ game.name }}
            </p>
          </a>
        </div>
    {{/each}}
  </div>
</div>
