<body class="text-center">
<div id="signout-main" style="margin: 0 auto;">
  <h1 class="h2 mb-3 fw-normal">You have been successfully logged out.</h1>
  <img src="/img/controller.png" alt="controller" width="75%" style="padding: 20px;">
  <p class="mt-4 mb-3">Ready to start keeping track of your games? &nbsp;<a href="./signin" style="color:#44D3D5; text-decoration:none;">Sign in here</a></p>
</main>
