<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Queued Video Game Tracker</title>
    <!-- Bootstrap core CSS -->
    <link rel='icon' href='/img/favicon.ico' type='image/x-icon'/ >
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dismissible.css" />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
      <link href="/css/style.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>
  <sidebar>
    <div class="d-flex flex-column p-3 text-white" style="height:100vh; background-color:#0A161D; border-radius: 10px; padding-top: 10px;">
      <a href="/" class="d-flex align-items-center p-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4"><img src="/img/logo.png" alt="Queued logo" width="120px;" style="margin-bottom: 20px;"></img>
      </a>
      <!-- {{#if logged_in}}
        <div class="user-space">
          <img src="/img/doomslayer.png" alt="user" width="70px" height="70px" class="rounded-circle me-2" style="border: 3px solid #D4FF00;"></img>
          <strong style="padding-top: 10px; padding-bottom: 20px;">@username</strong>
        </div>
      {{/if}} -->
      <h3 style="padding-bottom:10px; margin: none; text-align: left;">Explore Games</h3>
      {{#if logged_in}}
      <div class="form-container" style="text-align: left;">
        <form id="game-form" name="game-form">
          <input type="text" id="game-name" placeholder="Search for a Game" style="color:#000; border-radius: 5px; border: 0px; padding: 10px; width: 200px;">
          <input type="submit" name="search-btn" id="search-btn">
        </form>
      </div>
      {{/if}}
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <h3 style="text-align: left;">My Libraries</h3>
        {{#if logged_in}}
        <li class="nav-item" style="text-align: left;">
          <a href="/library/progress/1" class="nav-link text-white" aria-current="page">
            <img style ="margin-right: 15px;" src="/img/bolt.png" width="10px;"></img>In Progress
          </a>
        </li>
        <li style="text-align: left;">
          <a href="/library/completed/2" class="nav-link text-white">
            <img style ="margin-right: 10px;" src="/img/trophy.png" width="15px;">Completed
          </a>
        </li>
        <li style="text-align: left;">
          <a href="/library/notstarted/3" class="nav-link text-white">
            <img style ="margin-right: 6px;" src="/img/diamond.png" width="15px;"> Not Started
          </a>
        </li>
      {{/if}}
      <hr>
      </ul>
      {{#if logged_in}}
      <h3 style="text-align: left;">My Account</h3>
      <hr>
      <div class="dropdown" style="padding-bottom: 20px;">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/img/doomslayer.png" alt="" width="50" height="50" class="rounded-circle me-2" style="border: 3px solid #D4FF00;">
          <strong>{{usersGames.game_creator.username}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="https://uxfol.io/project/03c0ede6/Queu-ed--Video-Game-Tracker" target="_blank">About Queu(ed)</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" id="logout" href="/signout">Sign out</a></li>
        </ul>
      </div>
      {{/if}}
    </div>
  </sidebar>

<body>
<!-- Begin page content -->
  {{{body}}}
</body>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/42a66a0b61.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/logout.js"></script>
  </body>
</html>
